.container-input{
    margin-top:200px;
    }
    
.input-text{
    display:flex;
    width:250px;
    height: 45px;
    border:0px;
    border-radius: 30px;
    background-color: #161825;
    color: #FFFFFF;
    margin: 15px;
    padding: 0px 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
   
    }    
.show{
    
    position: absolute;
    margin-left: 220px;
    margin-top: 12px;
    padding: 4px 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.497619px;
    text-transform: uppercase;
    }
.container-button{
    display:flex;
    margin-top: 100px;
    margin-left: 40px;
   
}
.button{
    width:250px;
    height: 40px;
    border:0px;
    border-radius: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px; 
   
}
@media (min-width:500px) {
    .input-text{
        width:350px;
        height: 50px;        
    }
    .show{
        margin-left: 310px;
        margin-top: 14px;
        font-size: 16px;        
    }
    .button{
        width:300px;
        height: 50px;
        margin-left: 15px;
        font-size: 18px;
    }
}
@media (min-width:750px) {
    .input-text{
        width:400px;
        height: 50px;
        font-size: 15px;        
    }
    .show{
        margin-left: 345px;
        margin-top: 13px;
        font-size: 20px;  
        padding: 6px 12px;      
    }
    .button{
        width:300px;
        height: 50px;
        margin-left: 50px;
        font-size: 20px;
    }
}
@media (min-width:1050px) {
    .input-text{
        width:350px;
        height: 50px;        
    }
    .show{
        margin-left: 310px;
        margin-top: 12px;
        font-size: 16px;        
    }
    .button{
        width:300px;
        height: 50px;
        margin-left: 15px;
        font-size: 18px;
    }
}
