.label-container{    
    margin-top: 50px;    
}
.label{    
text-align: center;
letter-spacing: 0.1em;
text-decoration-line: underline;
color:#FCF9F1;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
}
@media (min-width:500px) {
.label{
  font-size: 20px;
}
}